In [1]:
import string
import re
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes
from sklearn.metrics import accuracy_score

In [2]:
original_data = pd.read_csv('skills_processing.csv') #original data loaded

In [3]:
def removePunctuation(x):
    # Lowercasing all words
    x = x.lower()
    # Removing non ASCII chars
    x = re.sub(r'[^\x00-\x7f]',r' ',x)
    # Removing (replacing with empty spaces actually) all the punctuations
    return re.sub("["+string.punctuation+"]", " ", x)

In [4]:
original_data["skills"] = original_data["skills"].map(removePunctuation)

In [5]:
col=original_data[['skills']]

In [6]:
labeled=original_data.assign(label=0)

In [7]:
labeled['label'][100005]

0

In [8]:
for i in range(0,100002):
    labeled['label'][i]=1

C:\Users\Alaa Elsherif\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
labeled.tail(4)

,Unnamed: 0,_id,title,jobFunction,industry,skills,label
110954,NaN,NaN,NaN,NaN,NaN,front end developer webgl germany,0
110955,NaN,NaN,NaN,NaN,NaN,ui design intern addicta,0
110956,NaN,NaN,NaN,NaN,NaN,mobile developer intern addicta,0
110957,NaN,NaN,NaN,NaN,NaN,senior web application developer,0

In [10]:
labeled.head(3)

,Unnamed: 0,_id,title,jobFunction,industry,skills,label
0,0.0,5da0edb0e43fd1a7ab66b833,Property Consultant,['Sales/Retail'],['Real Estate/Property Management'],sales retail real estate sales targ...,1
1,1.0,5da0edb0e43fd1a7ab66b834,Sales Representative - Real Estate,"['Customer Service/Support', 'Sales/Retail']",['Real Estate/Property Management'],sales real estate sales target cust...,1
2,2.0,5da0edb1e43fd1a7ab66b835,Receptionist,['Administration'],['Real Estate/Property Management'],admin work office management administr...,1

In [11]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(labeled['skills'],labeled['label'],test_size=0.3)

In [12]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)

In [13]:
Tfidf_vect = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
Tfidf_vect.fit(labeled['skills'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [14]:
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
clf=Naive.fit(Train_X_Tfidf,Train_Y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)

In [15]:
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ",accuracy_score(predictions_NB, Test_Y)*100)

Naive Bayes Accuracy Score ->  98.24561403508771

In [16]:
print(clf.predict(Tfidf_vect.transform(["Sales Manager"])))

[0]

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(df['Consumer_complaint_narrative'], df['Product'], random_state = 0)
#count_vect = CountVectorizer()
#X_train_counts = count_vect.fit_transform(X_train)
#tfidf_transformer = TfidfTransformer()
#X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
#clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [9]:

#concate_data=pd.concat([original_data['skills'],original_data['title']])
#concate_data

In [8]:
#load_data=pd.DataFrame(concate_data)

#load_data.assign(label=0)

In [8]:
#original_data.drop_duplicates()